#########################################################
#							#
#	THIS IS JUST AN EXAMPLE FILE!			#
#	YOU MUST CHANGE THE PATHS TO YOUR SETUP!	#
#							#
#########################################################

[Client]
private_key = /etc/bdr/client/private.key
public_key = /etc/bdr/client/public.key
backup_dirs_secure = /home/tectu/pictures
backup_dirs_less_secure = /usr /lib /var
buffer_size = 64
sql_file = fs-meta.sql
server = my-master-p2p.domain.com
purge_deleted_files = 30 #days
queue_blobs= /var/lib/bdr
notify_email = mail@example.com

[Server]
private_key = /etc/bdr/server/private.key
public_key = /etc/bdr/server/public.key
minimum_number_of_hops = 2 # avoid peers too local
local_sqlite = /etc/bdr/blob-peer-meta.sql
local_store = /home/bdr/blobs
notify_email = mail@example.com
max_cores = 4 # maximum workers
contract_grace_period = 48 # hours.  The time that you agree to store blobs even if the peer disappears.
keep_files_for = 28 # days
keep_local_copy_of_all_blobs = True # costs more disk, less reliant on peers


